<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ruby on Rails: Contact</title>

    </head>
<body>

<h1>My First Heading: Contact ERB Page</h1>
<p>My first paragraph.</p>

<%# WRONG %>
Hi, Mr. <% puts "Frodo" %>



</body>
</html> 